.newsletter__container{
    display: flex;
    width: 100%;
    background-color: var(--Verydarkblue);
}

.newsletter__img{
    width: 40%;
}
.newsletter__form{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter__title{
    color: var(--White);
    font-size: 2rem;
    margin-bottom: 3rem;
}
.newsletter__input-container{
    display: flex;
    width: 65%;
}
.newsletter__input{
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: .5rem 0 0 .5rem;
    background-color: var(--Lightgrayishblue);
}
.newsletter__btn{
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    background-color: var(--Orange);
    color: var(--Black);
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
}