.header__cart-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.extra__cart {
    position: absolute;
}

.extra__cart-span {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color: rgb(71, 39, 39);
    background-color: var(--Orange);
    padding: 2px 8px;
    border-radius: 7px;
    top: -18px;
    left: 21rem;
}