.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--Lightgrayishblue);
    padding: 0 2rem;
}

.header__cart-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header__search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Lightgrayishblue);
    border-radius: 5px;
}
.header__search-input{
    height: 40px;
    border: none;
    padding: 0 1rem;
    font-size: 16px;
    color: black;
    background-color: transparent;
    outline: none;
}
.header__search-span{
    color: gray;
    display: flex;
    align-items: center;
}
.header__search-icon{
    cursor: pointer;
    font-size: 20px;
    color: gray;
    margin: 0 1rem;
}
.header__profile-btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    color: var(--Black);
    background-color: var(--Orange);
    cursor: pointer;
    margin-right: -10px;
}